pre {
  background: var(--code-bg);
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  code {
    background: initial;
    padding: initial;
    border-radius: initial;
  }
}
code {
  background: var(--code-bg);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}
.example-image {
  width: 22rem;
  max-width: 100%;
}

.markdown-content {
  > .alert > p:last-child {
    margin-bottom: 0;
  }

  .table.nowrap-first-column td:first-child {
    white-space: nowrap;
  }
  .table > tbody > tr:last-child {
    border-bottom: 1px solid #dee2e6;
  }
}
