pre {
  background: #00000018;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  code {
    background: initial;
    padding: initial;
    border-radius: initial;
  }
}
code {
  background: #00000018;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}
.example-image {
  width: 22rem;
  max-width: 100%;
}
